<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Records</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Records </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th> Id </th>
                    <th> Name </th>
                    <th> Phone </th>
                    <th> Comment </th>
                    <th> Actions </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${records.empty}">
                    <td colspan="2"> No Record Available </td>
                </tr>
                <tr th:each="record : ${records}">
                    <td><span th:text="${record.id}"> Id </span></td>
                    <td><span th:text="${record.name}"> Name </span></td>
                    <td><span th:text="${record.phone}"> Phone </span></td>
                    <td><span th:text="${record.comment}"> Comment </span></td>
                    <td>
                        <a class="btn btn-success" href="#" th:href="@{'/view/' + ${record.id}}"> View </a>
                        <a class="btn btn-success" href="#" th:href="@{'/delete/' + ${record.id}}"> Delete </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <a class="btn btn-success" href="#" th:href="@{/person}"> Add New </a>
    </div>
</div>
</body>
</html>